<body>
<img src="${properties.image}" 
     style="width:1520px; height:275px; object-fit:cover; display:block;">


    <h1>TravelBlog.com</h1>

    <div class="header">
        <nav>
            <ul>
                <li><a href="/content/Lakshmi/us/en/my-first-blog.html" class="active">${properties.text}</a></li>
                <li>Blogs</li>
                <li><a href="/content/Lakshmi/us/en/my-first-blog/about-us.html" class="active">About Us</a></li>
                <li><a href="/content/dam/formsanddocuments-themes/themeLibrary/contact-us/_jcr_content" class="active">Contact Us</a></li>
            </ul>
        </nav>
    </div>

</body>